agentTLSMode: {{ rancher_vars.kubernetes.agent_tls_mode | quote }}
antiAffinity: {{ rancher_vars.kubernetes.anti_affinity | quote }}
auditLog:
  enabled: {{ rancher_vars.kubernetes.audit_log.enabled | lower }}
{% if rancher_vars.kubernetes.audit_log.enabled | bool %}
  level: {{ rancher_vars.kubernetes.audit_log.level }}
{% endif %}
bootstrapPassword: {{ rancher_vars.kubernetes.bootstrap_password | quote }}
certmanager:
  version: {{ rancher_map.certmanager.version | quote }}
hostname: {{ rancher_map.ingress.hostname | quote }}
ingress:
{% if rancher_vars.kubernetes.ingress.extra_annotations is mapping and rancher_vars.kubernetes.ingress.extra_annotations | length > 0 %}
  extraAnnotations:
    {{ rancher_vars.kubernetes.ingress.extra_annotations | to_nice_yaml | trim | indent(4) }}
{% endif %}
  ingressClassName: {{ rancher_map.ingress.class.name | quote }}
  tls:
    secretName: {{ rancher_vars.kubernetes.ingress.tls.secret_name | quote }}
    source: {{ rancher_vars.kubernetes.ingress.tls.source | quote }}
{% if rancher_vars.kubernetes.ingress.tls.source == 'letsEncrypt' %}
letsEncrypt:
  email: {{ rancher_vars.kubernetes.letsencrypt.email | quote }}
  environment: {{ rancher_vars.kubernetes.letsencrypt.environment | quote }}
  ingress:
    class: {{ rancher_vars.kubernetes.letsencrypt.ingress.class | quote }}
{% endif %}
networkExposure:
  type: {{ rancher_vars.kubernetes.network_exposure.type | quote }}
privateCA: {{ rancher_vars.kubernetes.private_ca | lower }}
replicas: {{ [groups.server | length, rancher_vars.kubernetes.replicas] | min }}
resources:
  limits:
{% if rancher_vars.kubernetes.resources.limits.cpu | default(false) %}
    cpu: {{ rancher_vars.kubernetes.resources.limits.cpu }}
{% endif %}
    memory: {{ rancher_vars.kubernetes.resources.limits.memory }}
  requests:
{% if rancher_vars.kubernetes.resources.requests.cpu | default(false) %}
    cpu: {{ rancher_vars.kubernetes.resources.requests.cpu }}
{% endif %}
    memory: {{ rancher_vars.kubernetes.resources.requests.memory }}
