token: "{{ k3s.token }}"
{% if k3s_node.cluster_init | bool %}
cluster-init: true
{% else %}
server: "https://{{ k3s.registration_vip }}:6443"
{% endif %}
{% if k3s_server.secrets_encryption | bool %}
secrets-encryption: true
secrets-encryption-provider: "{{ k3s_server.secrets_encryption_provider }}"
{% endif %}
protect-kernel-defaults: {{ k3s_server.protect_kernel_defaults | bool | lower }}
tls-san:
{% for san in k3s.tls_sans %}
  - "{{ san }}"
{% endfor %}
disable:
{% for component in k3s_server.disable_components %}
  - "{{ component }}"
{% endfor %}
{% for arg in k3s_server.extra_args %}
{% set arg_parts = arg.split('=', 1) %}
{{ arg_parts[0] }}: {{ arg_parts[1] }}
{% endfor %}
