k8sServiceHost: {{ k3s.registration_vip }}
k8sServicePort: {{ cilium.k8s_service_port }}
ipam:
  operator:
    clusterPoolIPv4PodCIDRList:
      - {{ cilium.cluster_pool_ipv4_pod_cidr_list | to_json }}
operator:
  replicas: {{ cilium.operator_replicas }}
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - topologyKey: kubernetes.io/hostname
          labelSelector:
            matchLabels:
              io.cilium/app: operator
  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: kubernetes.io/hostname
      whenUnsatisfiable: DoNotSchedule
      labelSelector:
        matchLabels:
          io.cilium/app: operator
