apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: longhorn
  namespace: kube-system
spec:
  targetNamespace: {{ longhorn.namespace }}
  createNamespace: true
  chart: longhorn
  repo: https://charts.longhorn.io
  version: {{ longhorn.chart_version }}
  timeout: 15m
  valuesContent: |-
    namespaceOverride: {{ longhorn.namespace }}
    persistence:
      defaultClass: true
      defaultClassReplicaCount: {{ longhorn.default_class_replica_count }}
      defaultDataLocality: {{ longhorn.default_data_locality }}
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
    csi:
      kubeletRootDir: {{ longhorn.kubelet_root_dir }}
      podAntiAffinityPreset: {{ longhorn.csi_pod_anti_affinity_preset }}
      attacherReplicaCount: {{ longhorn.csi_controller_replicas }}
      provisionerReplicaCount: {{ longhorn.csi_controller_replicas }}
      resizerReplicaCount: {{ longhorn.csi_controller_replicas }}
      snapshotterReplicaCount: {{ longhorn.csi_controller_replicas }}
    defaultSettings:
      defaultDataPath: {{ longhorn.default_data_path }}
      defaultDataLocality: {{ longhorn.default_data_locality }}
      defaultReplicaCount: {{ longhorn.default_replica_count }}
      replicaSoftAntiAffinity: {{ longhorn.replica_soft_anti_affinity | lower }}
      replicaAutoBalance: {{ longhorn.replica_auto_balance }}
      storageOverProvisioningPercentage: {{ longhorn.storage_overprovisioning_percentage }}
      storageMinimalAvailablePercentage: {{ longhorn.storage_minimal_available_percentage }}
      allowVolumeCreationWithDegradedAvailability: {{ longhorn.allow_volume_creation_with_degraded_availability | lower }}
      guaranteedInstanceManagerCPU: {{ longhorn.guaranteed_instance_manager_cpu }}
      v2DataEngine: {{ longhorn.v2_data_engine | lower }}
